body {
  background-color: peachpuff;

  text-align: center;
}
@font-face {
  src: url("fatboysmiles.ttf");
  font-family: got;
}
h2 {
  font-family: got;
  text-shadow: 1px 10px 10px rgb(152, 158, 111);
  color: rgb(130, 95, 48);
  font-size: 22px;
  background-color: rgb(253, 219, 163);
  padding: 5px;
  border-radius: 5px;
}
h1 {
  font-family: got;
  font-size: 64px;
}
#img {
  border: 2px solid gray;

  border-radius: 20px;
  display: flex;
  width: 500px;
  height: 300px;
  background-image: url("gift.jpg");
  background-size: cover;
  box-shadow: 10px 10px 20px rgb(194, 181, 159);
  margin: auto;
  align-items: center;
}
#img:hover {
  width: 520px;
  height: 320px;
  box-decoration-break: slice;
  box-shadow: 10px -10px 200px rgb(194, 181, 159);
}
div {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
