body {
  /* background-color: peachpuff; */
  background-color: #d6b06a;
  margin: 0;
  height: 100vh;

  text-align: center;
}
@font-face {
  src: url("fatboysmiles.ttf");
  font-family: got;
}
h2 {
  font-family: got;
  text-shadow: 1px 10px 10px rgb(152, 158, 111);
  color: rgb(130, 95, 48);
  font-size: 22px;
  background-color: rgb(253, 219, 163);
  padding: 5px;
  border-radius: 5px;
}
h1 {
  margin-top: 20px;
  font-family: got;
  font-size: 64px;
}
#displayText {
  font-size: 40px;
}
#img {
  border: 2px solid gray;

  border-radius: 20px;
  display: flex;
  width: 500px;
  height: 400px;
  background-image: url("gift.jpg");
  background-size: cover;
  box-shadow: 10px 10px 20px rgb(73, 52, 16);
  margin: auto;
  align-items: center;
}
#img:hover {
  width: 500px;
  height: 400px;
  box-decoration-break: slice;
  box-shadow: 10px -2px 100px rgb(94, 66, 17);
}
div {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
#inputField {
  border: 1px solid rgb(130, 95, 48);
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0);
  padding: 5px 20px;
  margin: 10px;
  text-transform: uppercase;
}
#inputField:focus {
  box-shadow: 10px 10px 20px rgb(207, 162, 91);
}
label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  color: rgb(90, 69, 21);
}
div {
  margin: 0%;
}
a {
  display: flex;
  justify-content: center;
}
#a:hover {
  text-decoration: none;
  box-shadow: 2px 1px 5px rgb(180, 150, 74);
}

.botom {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 2px solid rgb(130, 95, 48);
  border-radius: 20px;
}
